:root {
	--lightgreen: #a4db82;
	--darkbrown: #2b1c0c;
	--dark-green: #59c368;
	--place-holder-color: #ded1d1;
	--white: #f3f3f3;
	font-size: 0.9rem;
}
body {
	font-family: "Nanum Gothic Coding", monospace !important;
}
a {
	text-decoration: none !important;
	color: var(--white) !important;
}
a:hover {
	color: var(--darkbrown) !important;
}
.locaux img,
.div_img_sect-1 img,
.sect-3 img {
	border-radius: 30px;
}
.img_header img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: rgb(100, 198, 110);
	background: radial-gradient(
		circle,
		rgba(100, 198, 110, 1) 48%,
		rgba(89, 195, 104, 1) 48%,
		rgba(110, 201, 115, 1) 50%,
		rgba(164, 219, 130, 1) 100%,
		rgba(255, 255, 255, 1) 100%
	);
	box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
		rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
		rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
nav .first_ul {
	background-color: var(--dark-green);
	color: var(--white);
	height: 25%;
	position: fixed;
	top: 40%;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	z-index: 10;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	transition: ease-in-out 200ms;
	transform: translate(-193px);
}
.fa-caret-right {
	position: absolute;
	right: -10px;
	color: var(--darkbrown);
}
nav .first_ul:hover {
	transform: translate(0px);
}
.sect-1,
.sect-2,
.sect-3 {
	margin: 30px auto;
}
.sect-4 {
	margin-bottom: -2vh;
}
.sect-2,
.sect-4 {
	border-radius: 20px;
}
.sect-3 .java {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 5px;
	margin: 30px;
	height: 10vh;
}
.afpa_pic_wrapper img {
	width: 200px;
	height: 200px;
	object-fit: cover;
}

header,
.sect-2,
.sect-4 {
	background-color: var(--lightgreen);
}
.my_name {
	font-size: 2rem;
	color: var(--white);
}
.img_header {
	text-align: center;
	padding: 1.1rem;
}

header {
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}
ul {
	list-style: none;
}
hr {
	border: var(--white) solid 1px !important;
}
.jm_text,
.sect-1,
.sect-2,
.sect-3,
.sect-4 {
	padding: 1rem;
	text-align: center;
}

.div_img_sect-1 p {
	margin: 1.5rem auto;
}
.div_img_sect-1 div img {
	width: 200px;
	height: 200px;
}

.sect-1  {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1.2rem;
}
.sect-1 {
	display: flex;
	flex-direction: column;
}
.btn_wrapper  {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.sect-2 h1 {
	color: var(--white);
	margin: 1.2rem;
}
.sect_icon_wrapper img {
	width: 70px;
	height: 70px;
	object-fit: fill;
}
.locaux img {
	width: 200px;
	height: 200px;
	object-fit: cover;
}
.link_git_contenair div img {
	width: 70px;
	height: 70px;
	object-fit: contain;
	align-self: center;
	margin: 0 15px;
}

.link_git_contenair div #kedin_bloc {
	width: 50px;
	height: 50px;
}
.link_git_contenair div {
	display: flex;
	align-content: center;
}
.row_icon_1 img,
.row_icon_2 img {
	margin: 0.8rem;
}
.link_git_contenair {
	display: flex;
	justify-content: center;
	gap: 10px;
}
.sect-4 h2 {
	color: var(--white);
}
.sect-4 input {
	margin: 1.5rem;
}
form .in_text {
	height: 8rem;
	width: 12rem;
}
.join_me_wrapper div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.join_me_wrapper div p {
	margin: 10px 10px;
}
.submit {
	border-radius: 5px;
	background-color: var(--dark-green);
	height: 3rem;
	line-height: 3rem;
	width: 150px;
	outline: none;
	border: none;
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
		rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
		rgba(0, 0, 0, 0.07) 0px 16px 16px;
	color: var(--white);
}
.submit:hover {
	transform: scale(1.1);
}
.second_hr {
	width: 85%;
	margin: 8px auto;
}
.about_items img {
	border-radius: 20%;
	margin: 20px;
	object-fit: cover;
	width: 200px;
	height: 200px;
}
footer {
	background-color: var(--darkbrown);
	color: var(--white);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
}

footer div {
	display: flex;
	gap: 5rem;
	height: 10vh;
	align-items: center;
	object-fit: contain;
}
footer div a img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: var(--white);
}
.first_ul ul{
	display: none;
}
.div_learnt a{
color:var(--dark-green)!important;
}
/*MEDIA QUERIES*/

@media all and (min-width: 426px) and (max-width: 768px) {
	:root {
		font-size: 1rem;
	}
	.first_ul ul{
		display: none;
	}

	.img_header img,
	.afpa_pic_wrapper img,
	.div_img_sect-1 div img,
	.locaux img,
	.about_items img {
		width: 250px;
		height: 250px;
	}
	nav .first_ul {
		transform: translate(-215px);
	}
}
@media all and (min-width: 769px) and (max-width: 1200px) {
	:root {
		font-size: 1rem;
	}
	.first_ul ul{
		display: none;
	}
	.img_header img,
	.afpa_pic_wrapper img,
	.div_img_sect-1 div img,
	.locaux img,
	.about_items img {
		width: 250px;
		height: 250px;
	}
	nav .first_ul {
		background-color: initial;
		color: var(--white);
		height: auto;
		width: 90%;
		position: initial;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		z-index: 10;
		padding: 10px;
		display: flex;
		flex-direction: initial;
		justify-content: flex-end;
		gap: 20px;
		transition: ease-in-out 200ms;
		transform: translate(0px);
	}
	.jm_container {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.fa-caret-right {
		position: absolute;
		right: -10px;
		color: var(--darkbrown);
		display: none !important;
	}
	.img_header img {
		border-radius: 30%;
	}
	.sect-1 {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.sect_icon_wrapper {
		display: flex;
	}
	.sect-3 {
		display: flex;
		flex-direction: row-reverse;
	}
	form {
		width: 50%;
	}
	form .in_text {
		height: 8rem;
		width: 70%;
	}
	.in_mail {
		width: 70%;
	}
	.work_together_wrapper {
		display: flex;
		justify-content: center;
	}
	.about_items {
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
		align-items: center;
	}
}
@media all and (min-width: 1201px) {
	:root {
		font-size: 1rem;
	}
	body {
		margin: 0 auto;
	}
	.nav .first_ul{
		position: relative;
	}
	nav .first_ul ul li{
		padding: 5px;
		}
		.first_ul ul{
			position: absolute;
			top: 10px;
		}
		.ul_dev:hover ul {
			display:block;
		}
		.ul_dev:hover ul li:hover {
			background-color: #2b1c0c;
			color: #f3f3f3;
		}
		nav .first_ul ul{
			margin: 0;
			padding: 0;
			background-color: var(--dark-green);
			display: none;
		}
	.sect-3 p::first-letter {
		font-size: 40px;
		color: var(--dark-green);
	}
	.img_header img,
	.div_img_sect-1 div img {
		width: 380px;
		height: 280px;
		object-fit: cover;
		transition: 300ms;
	}
	.img_header:hover {
		background: url("./images/about.gif") no-repeat center;
		background-size: cover;
		box-sizing: content-box;

		border-radius: 20px;
	}
	.img_header:hover > img {
		opacity: 0;
	}
	.row_icon_1 img,
	.row_icon_2 img {
		width: 60px;
		height: 60px;
	}
	.locaux img {
		width: 150px;
		height: 250px;
		border-radius: 0;
		margin-left: 15px;
	}
	#web_dev,
	h2 {
		width: 80%;
		margin: 30px auto;
	}
	.about_items {
		width: 85%;
		margin: 30px auto;
	}
	.about_items p {
		margin-left: 80px;
	}

	.locaux p {
		text-align: center;
	}
	nav .first_ul {
		background-color: initial;
		color: var(--white);
		height: auto;
		width: 90%;
		position: initial;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		z-index: 10;
		padding: 10px;
		display: flex;
		flex-direction: initial;
		justify-content: flex-end;
		gap: 20px;
		transition: ease-in-out 200ms;
		transform: translate(0px);
	}
	.jm_container {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.fa-caret-right {
		position: absolute;
		right: -10px;
		color: var(--darkbrown);
		display: none !important;
	}
	.img_header img {
		border-radius: 10%;
	}
	.img_header {
		margin-left: 10%;
	}
	.sect-1 {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.sect_icon_wrapper {
		display: initial;
	}
	.sect-2_wrapper {
		display: flex;
		justify-content: space-between;
		width: 85%;
		align-items: center;
		margin: 8px auto;
	}

	.link_git_contenair {
		display: flex;
		justify-content: flex-end;
		width: 94.5%;
		margin-top: 10px;
	}
	.sect-2 {
		text-align: initial;
	}
	.sect-1 p {
		width: 60%;
		margin: 15px auto;
	}
	.sect-3 {
		display: flex;
		flex-direction: row;
		align-items: center;
		text-align: initial;
		width: 86%;
		margin-top: 50px;
		margin-bottom: 50px;
		gap: 30px;
	}
	.sect-3 .java {
		gap: 5vh;
		justify-content: center;
		align-items: center;
	}

	.afpa_pic_wrapper img {
		width: 400px;
		height: 300px;
	}
	.sect-4 {
		text-align: initial;
	}
	form {
		width: 50%;
	}
	form .in_text {
		height: 12rem;
		width: 70%;
	}
	.in_mail {
		width: 70%;
	}
	input::placeholder {
		padding-left: 20px;
	}
	.work_together_wrapper {
		display: flex;
		justify-content: initial;
		margin-left: 95px;
	}
	.about_items {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.about_items:nth-last-of-type(2n):hover {
		border-radius: 10px;
		background-color: var(--darkbrown);
		box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
		color: var(--white);
	}
	.about_items:nth-last-of-type(2n + 1):hover {
		border-radius: 10px;
		background-color: var(--dark-green);
		box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
		color: var(--white);
	}
	.about_items img {
		border-radius: 50%;
		height: 150px;
		width: 150px;
	}

	.cont {
		width: 65%;
		margin: 0 auto;
	}
	.right_side_sect-2 {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 50%;
	}
	.join_me_wrapper div {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
}
