:root {
	--lightgreen: #a4db82;
	--darkbrown: #2b1c0c;
	--dark-green: #59c368;
	--place-holder-color: #ded1d1;
	--white: #f3f3f3;
	font-size: 0.9rem;
}


.displaying_anime img{
	width: 100%;
	height: 100%;
	
}