:root {
    --lightgreen:#a4db82;
    --darkbrown: #2b1c0c;
    --dark-green:#59c368;
    --place-holder-color:#ded1d1;
    --white:#f3f3f3;
  }

body{
    font-size: 0.8em;
}

nav a{
    text-decoration: none !important;
    color: var(--white);
}
.img_header img,.div_img_sect-1 img,.sect-3 img{
    border-radius:30px;
}
.img_header img  {
    width: 200px;
    height: 200px;
}
nav .first_ul{
    background-color: var(--dark-green);
    color: var(--white);
    height: 25%;
    position: fixed;
    top: 40%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index:10;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: ease-in-out 200ms;
    transform:translate(-200px) ;
}
nav .first_ul:hover{
    transform:translate(0px) ;
}
.sect-1, .sect-2,.sect-3{
    margin: 30px auto;
}
.sect-4{
    margin-bottom: -2vh;
}
.sect-2,.sect-4{
    border-radius: 20px;
}
.sect-3 .java{
display: flex;
justify-content: center;
flex-direction: column;
gap: 5px;
margin: 30px;
height:10vh ;
}
.afpa_pic_wrapper img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}


header,.sect-2,.sect-4{
    background-color:var(--lightgreen) ;
}
.my_name{
    font-size:2rem;
    color: var(--white);
}
.img_header{
    text-align: center;
    padding: 1.1rem;
}
header{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
ul{
    list-style: none;
}
hr{
    border: var(--white) solid 1px !important;
}
.jm_text,.sect-1,.sect-2,.sect-3,.sect-4{
    padding: 1rem;
    text-align: center;
}

.div_img_sect-1 p{
    margin: 1.5rem auto;
}
.sect-2 h1{
    color: var(--white);
    margin:1.2rem;
}
.sect_icon_wrapper img{
    width: 70px;
    height: 70px;
    object-fit: fill;

}
.row_icon_1 img,.row_icon_2 img{
    margin: 0.8rem;
}
.link_git_contenair{
    display: flex;
    justify-content: center;
    gap:10px;
}
.sect-4 h2{
    color: var(--white);
}
.sect-4 input{
    margin: 1.5rem;
}
form .in_text{
    height: 8rem;
    width: 12rem;
}
.join_me_wrapper div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.join_me_wrapper div p{
    margin: 10px 10px;
}
.submit{
    border-radius: 5px;
    background-color: var(--dark-green);
    height: 3rem;
    width: 150px;
    outline: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    color: var(--white);
}
.about_items img{
border-radius: 20%;
margin: 20px;
object-fit: cover;
width: 200px;
height: 200px;
}
footer{
    background-color: var(--darkbrown);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

footer div{
    display: flex;
    gap: 5rem;
    height: 10vh;
    align-items: center;
   object-fit: contain;
}
footer div a img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--white);
}